* {
    margin: 0;
    padding: 0;
    background:
    linear-gradient(rgb(143, 243, 247), transparent),
    linear-gradient(to top left, rgb(107, 240, 250), transparent),
    linear-gradient(to top right, rgb(248, 98, 236), transparent);
background-blend-mode:soft-light;
    }
.tabstyle {
    width: 300px;
    height: 430px;
    margin: 20px auto;
    border: 3px solid rgb(red, green, rgba(0, 0, 255, 0.925));
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    text-align: center;
    background-color:  #0081fada; 
}
    
h1 {text-align: center;
    padding: 23px;
    background:
        linear-gradient(rgb(250, 243, 143), transparent),
        linear-gradient(to top left, rgb(190, 241, 94), transparent),
        linear-gradient(to top right, rgb(247, 247, 250), transparent);
    background-blend-mode: screen;
}
input:hover {
    background-color: #0011ff; 
    }

.btn {
    width: 55px;
    height: 70px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(0, 0, 0); 
    color: white;    
}
.textview {    
    width: 223px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    background-color: #D8BFD8; 
}
center, table, td, tr{
    background-color: rgb(153, 194, 247);
}